#tagit__pikabuSaveButtonDialog {
    position: absolute;
    visibility: hidden;
    z-index: 1048576;
}

#tagit__pikabuSaveButtonDialog svg {
    /* workaround to make svgs clickable on pikabu.ru (spent hours trying to figure it out) */
    pointer-events: auto;
}